.custom-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }  

  .form-bordered{
    padding: 20px;
    border: 1px solid black;
    box-shadow:  5px 8px 7px #343232;
    width: 500px;;
  }

  .center {
    width: auto;
    height: auto;
  }