<div fxLayout="row" fxLayoutAlign="end center">
  <button color="warn" mat-button routerLink="/commandes">
    <mat-icon>keyboard_backspace</mat-icon>
    Retour
  </button>
</div>
  <div class="container-fluid pt-2" style="margin-bottom: 250px">
    <form [formGroup]="commandForm">
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Commande</h4>
           
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="name">Client</label>
                  <select class="form-control" formControlName="client" >
                    <option *ngFor="let client of clients" [ngValue]="client">{{client.firstName}} {{client.lastName}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="date">Date</label>
                  <input type="date" class="form-control" formControlName="date" >
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
        <div class="card border-secondary mt-2 mb-3">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between">Items Details <button type="button" class="btn btn-primary" (click)="addCommandLine()">+</button></h4>
            <ng-container formArrayName="commandLines">

              <div *ngFor="let commandLineForm of commandLines.controls;let i=index">
                
                <div class="row" [formGroupName]="i">
                  <div class="col-md-3">
                    <label>Produit</label>
                    <select class="form-control" formControlName="product" (change)="productChanged(i)">
                      <option *ngFor="let product of products"  [ngValue]="product">{{product.name}}</option>
                    </select>
                  </div>

                  <div class="col-md-2">
                    <label>Prix unitaire</label>
                    <input type="number" class="form-control" formControlName="unitAmount" [attr.disabled]="true">  
                 </div>
                  <div class="col-md-2">
                    <label>Quantity</label>
                    <input type="number" class="form-control" formControlName="quantity" (input)="productChanged(i)">  
                 </div>
                 
                 <div class="col-md-2">
                    <label>Montant</label>
                    <input type="number" class="form-control" formControlName="amount" [attr.disabled]="true">   
                </div>

                  <div class="col-md-1" *ngIf="i!=0">
                    <button class="btn btn-danger" style="margin-top:30px" (click)="removeCommandLine(i)">-</button>
                  </div>
      
                 </div>
      
                </div>
                
            </ng-container>
            </div>
  
        </div>
        <div class="card border-secondary mb-5">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between">Montant Total </h4>
                <div class="row">
                  <div class="col-md-3">
                    <input type="number" class="form-control" formControlName="amount" [attr.disabled]="true">  
                 </div>
                 </div>
            </div>
  
        </div>
          
    
        <button [disabled]="!commandForm.valid" type="button" class="btn btn-primary btn-lg" (click)="onSubmit()" >Add To Database</button>
  
      </form>
  
  </div>
